// selectores comunes
* {
    font-family: $mainfont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: solid none !important;
    color: $keycolor;
}

h1 {
    color: $keycolor;
    font-size: $textlg;
}

p {
    font-size: $textmd;
    line-height: $textmid;
}

body {
    background-color: $mainColor !important;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
}

header {
    img {
        width: 100%;
    }
}

.footer {
    height: 150px;
    margin-top: 60px;
    background-color: $secondaryColor;
    div {
        img {
            width: 30px;
            margin: 10px;
            color: $white;
        }
        svg {
            color: $white;
        }
        ul {
            li {
                a {
                    display: flex;
                    text-decoration: solid;
                    color: $white;
                    &:hover {
                        color: $keycolor;
                    }
                }
            }
        }
    }
}

.outdecoration {
    text-decoration: none !important;
}

.footer-logo {
    width: 100px;
}

.text-subline {
    text-decoration: underline;
}

.text-bottom {
    text-align: bottom;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-dark {
    color: $keycolor;
}

.text-white {
    color: $white;
}

.d-inline-block {
    display: inline-block;
}

.active {
    text-decoration: solid;
    font-size: x-large;
}

.activenow {
    text-decoration: solid;
    color: $keycolor;
}

.nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top {
    padding-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: $white !important;
    text-decoration: solid;
    text-decoration: underline;
}

main {
    section {
        div {
            h3 {
                a {
                    color: $keycolor;
                    font-size: $textlg;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
        img {
            width: 100%;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "c1 c2" "c3 c4" "c5 c6" "c7 c7";
}

.caja.c1 {
    margin-right: 20px;
}

.caja.c2 {
    margin-left: 20px;
}

.caja.c3 {
    grid-area: c3;
}

.caja.c4 {
    grid-area: c4;
}

.caja.c5 {
    grid-area: c5;
}

.caja.c6 {
    grid-area: c6;
}

.caja.c7 {
    grid-area: c7;
}

.container {
    background-color: $secondaryColor;
    text-align: center;
    margin: 50px auto auto auto;
    padding: 30px;
    border: solid 4px $keycolor;
    display: flex;
    justify-content: center;
    align-items: center;
    .caja {
        width: 90%;
        height: auto;
        margin: 10px auto;
        padding: 3%;
        border: solid 2px $keycolor;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form-container {
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: $white;
}

// menu hamburguesa
.botonera {
    img {
        width: 80px;
        flex-direction: column;
        text-align: center;
    }
    ul {
        li {
            img {
                width: 30px;
            }
        }
    }
}

// menu hamburguesa