// mixins
@mixin labels ($font-weight, $color, $font-size, $letter-spacing, $text-align) {
    font-weight: $font-weight;
    color: $color;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    text-align: $text-align;
}