// variables globales
$mainColor: bisque;
$secondaryColor: brown;
$keycolor: black;
$white: white;
// fonts
$mainfont: "Bebas Neue";
// weight
$textregular: 400;
$texthighlight: 300;
$textbold:600;
// sizes
$text5m:0.8em;
$textmd:1em;
$textmid:1.5em;
$textlg:2em;
$textxl:3em;